.Game {
    display: flex;
    min-width: 980px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: no-repeat 50% 50% url('../../images/main-bg.jpg');
    background-size: cover;
}