$players: red, blue;

.PlayerSpot {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;

    &.spot1 {
        left: 15px;
        top: -20px;
    } 

    &.spot2 {
        left: 55px;
        top: -20px;
    }

    &.spot3 {
        left: 85px;
        top: 5px;
    }

    &.spot4 {
        left: 85px;
        top: 40px;
    }

    &.spot5 {
        left: 55px;
        top: 80px;
    }

    &.spot6 {
        left: 15px;
        top: 80px;
    }

    &.spot7 {
        left: -15px;
        top: 5px;
    }

    &.spot8 {
        left: -15px;
        top: 40px;
    }
}

@each $player in $players {
    .player__#{$player} {
        background: url('../../images/players/Player_#{$player}.png');
        background-size: contain;
    }
}